<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Products and Categories</title>
</head>
@model Category
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-10 text-center">
                    <h3><a href="/">Products</a> | Categories</h3>
            </div>
        </div>
        <div class="card card-cascade wider mb-4 wow fadeIn">
            <div class="card-body card-body-cascade text-center p-4">  
                <div class="row">
                    <div class="col-sm-6">
                    <form class="text-center p-4" asp-action="CreateCategory" asp-controller="Home" method="post">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-sm-5 col-form-label">Name</label>
                                <div class="col-sm-7">
                                    <input asp-for="Name" class="form-control" placeholder="Name">
                                </div>
                            </div>  
                        <div class="row justify-content-end p-4">
                            <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    @foreach (var c in ViewBag.allCategories)
                        {
                            <div class="row">
                                <a href="/categories/@c.CategoryId">@c.Name</a>
                            </div>
                        }
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
